@charset "utf-8";

.margeTable{
	margin-top:30px;
}


.CurrentVersion, .Note{
	background:#DFDFDF url(img/gray-grad.png) repeat-x scroll left top;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.8);
	color:#333333;
	line-height:1.3em;
	padding:7px 7px 8px;
}

.CurrentVersion{
	font-weight:bold;
	border: 1px solid red;
	text-align:center;
}

.Note img{
	float:left;
	background:url(img/firefox.gif) center no-repeat;
	height:28px;
	width:28px;
}

.CodeHTML {
	width:500px;
	height:100px;
	float:left;
	margin-right:10px;
}

#nbbox {
	border-radius:	  		4px;
	-moz-border-radius:     4px;
	-webkit-border-radius:  4px;
	clear:					none;
}
#nbbox div {
	text-align:				right;
	font-size:				smaller;
	clear:					right;
}
#nbbox ul {
	margin:					4px 10px;
	list-style:				outside;
	list-style-type: 		circle;
}
#nbbox ul li {
	margin:					4px 0 0 4px;
}
#nbbox .gravatar {
	float:					right;
	margin:					8px 0 0 8px;
	width:					55px;
	text-align:				center;
}

.clearboth {
	clear:					both;
}
